.tabs-container {
  margin-top: 24px;
  background-color: #222;
  width: 100%;
}

.tabs-headers {
  background-color: #2C2C2C;
}

.tabs-headers button {
  background-color: transparent;
  border: none;
  color: #E0E0E0;
  padding: 16px 24px;
  transition: .3s;
}

.tabs-headers button:hover {
  background-color: #383838;
}

.tabs-body {
  padding-top: 8px;
  padding: 16px;
}

button.active-tab {
  background-color: #222;
}