.tabs-container {
  margin-top: 24px;
  background-color: var(--surface-raised);
  width: 100%;
}

.tabs-headers {
  background-color: var(--surface-panel);
}

.tabs-headers button {
  background-color: transparent;
  padding: 16px 24px;
  transition: .3s;
}

.tabs-headers button:hover {
  background-color: var(--surface-hover);
}

.tabs-body {
  padding-top: 8px;
  padding: 16px;
}

button.active-tab {
  background-color: var(--surface-raised);
}
