.projected-costs-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  .projected-costs-container {
    gap: 12px;
  }

  .row-container {
    flex-direction: column;
    gap: 12px;
  }
}
